<div class="modal-content">
    <!--Header modal-->
    <div class="modal-header header-color border-top">
        <button type="button"
                class="close"
                ng-click="ctrl.close()"
                data-dissmiss="modal" aria-hidden="true">
            &times;
        </button>
        <h4 class="modal-title color-morado">{{ctrl.config.titulo}} <small>Encuestas-Web</small></h4>
    </div>

    <!--Body modal-->
    <div class="modal-body">
        {{ctrl.config.mensaje}}
    </div>
    <!--footer modal-->
    <div class="modal-footer header-color border-button">
        <button type="submit" 
                ng-click="ctrl.close()" 
                name="btnIniciarSesion" 
                class="btn btn-primary">Aceptar</button>
    </div>
</div>

