<form name="crearEncuestaForm" novalidate="novalidate">
    <div class="row">
        <div class="col-xs-12">
            <h4 class="color-letra-verde">Encuesta <small>Defina la encuesta a crear</small> </h4>
        </div>
    </div>

    <div class="row" style="margin-top: 10px;">
        <div class="col-xs-12 col-sm-12 col-md-6" >

            <div class="form-group">
                <label class="letras-formulario color-letra-texto">Nombre Encuesta</label>
                <input class="form-control"
                       ng-model="ctrl.encuesta.nombre"
                       name="nombre"
                       id="nombreId"
                       placeholder="nombre"
                       ng-maxlength="100"
                       type="text"
                       required
                       />
                <span class="span-error">
                    <p ng-show="crearEncuestaForm.nombre.$error.maxlength">Demasiado largo.</p>
                    <p ng-show="crearEncuestaForm.nombre.$error.required">*Campo obligatorio.</p>
                </span>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6" >
            <div class="form-group">
                <label class="letras-formulario color-letra-texto">Objetivo</label>
                <input class="form-control"
                       ng-model="ctrl.encuesta.objetivo"
                       name="objetivo"
                       id="objetivoId"
                       placeholder="objetivo"
                       ng-maxlength="200"
                       type="text"
                       required
                       />
                <span class="span-error">
                    <p ng-show="crearEncuestaForm.objetivo.$error.maxlength">Demasiado largo.</p>
                    <p ng-show="crearEncuestaForm.objetivo.$error.required">*Campo obligatorio.</p>
                </span>
            </div>
        </div>
    </div>

    <!--Formulario-->

    <div class="row">
        <div class="col-xs-12">
            <h4 class="color-letra-verde">Formulario <small>Defina el formulario a crear</small> </h4>
        </div>
    </div>

    <div class="row" style="margin-top: 10px;">
        <div class="col-xs-12 col-sm-12 col-md-6" >

            <div class="form-group">
                <label class="letras-formulario color-letra-texto">Nombre Formulario</label>
                <input class="form-control"
                       ng-model="ctrl.encuesta.formulario.nombre"
                       name="nombre"
                       id="nombreId"
                       placeholder="nombre"
                       ng-maxlength="100"
                       type="text"
                       required
                       />
                <span class="span-error">
                    <p ng-show="crearEncuestaForm.nombre.$error.maxlength">Demasiado largo.</p>
                    <p ng-show="crearEncuestaForm.nombre.$error.required">*Campo obligatorio.</p>
                </span>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6" >
            <div class="form-group">
                <label class="letras-formulario color-letra-texto">Fecha Inicio</label>
                <input class="form-control"
                       ng-model="ctrl.encuesta.formulario.fechaInicio"
                       name="fechaInicio"
                       id="fechaIniciId"
                       placeholder="{{item.etiqueta}}"
                       type="date" required/>
                <span class="span-error">
                    <p ng-show="crearEncuestaForm.fechaInicio.$error.required">*Campo obligatorio.</p>
                </span>
            </div>
        </div>
    </div>

    <div class="form-group" style="text-align: right; margin-top: 10px;">
        <button type="submit" ng-click="ctrl.guardar()" class="btn btn-primary" ng-disabled="crearEncuestaForm.$invalid || ctrl.encuesta.formulario.preguntas.length <= 0">Guardar</button>
        <a ng-href="#/" class="btn btn-default">Cancelar</a>
    </div>
</form>

<!--Preguntas-->
<form name="preguntasForm" novalidate="novalidate">
    <div class="row">
        <div class="col-xs-12">
            <h4 class="color-letra-verde">Preguntas <small>Indique las preguntas que tendrá el formulario</small> </h4>
        </div>
    </div>

    <div class="row" style="margin-top: 10px;">
        <div class="col-xs-12 col-sm-12 col-md-4" >
            <div class="form-group">
                <label class="letras-formulario color-letra-texto">Etiqueta</label>
                <input class="form-control"
                       ng-model="ctrl.pregunta.etiqueta"
                       name="etiqueta"
                       id="etiquetaId"
                       placeholder="etiqueta"
                       ng-maxlength="50"
                       type="text"
                       required
                       />
                <span class="span-error">
                    <p ng-show="preguntasForm.etiqueta.$error.maxlength">Demasiado largo.</p>
                    <p ng-show="preguntasForm.etiqueta.$error.required">*Campo obligatorio.</p>
                </span>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4" >
            <div class="form-group">
                <label class="letras-formulario color-letra-texto">Longitud</label>
                <input class="form-control"
                       ng-model="ctrl.pregunta.longitud"
                       name="longitud"
                       id="longitudId"
                       placeholder="longitud"
                       ng-maxlength="10"
                       type="number"
                       required
                       />
                <span class="span-error">
                    <p ng-show="preguntasForm.longitud.$error.maxlength">Demasiado largo.</p>
                    <p ng-show="preguntasForm.longitud.$error.required">*Campo obligatorio.</p>
                </span>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4" >
            <div class="form-group">
                <label class="letras-formulario color-letra-texto">Requerido</label>
                <select id="requeridoId" 
                        ng-model="ctrl.pregunta.requerido" 
                        name="requerido" 
                        class="form-control"
                        required>
                    <option value="">---Seleccione---</option>
                    <option value="true">Si</option>
                    <option value="false">No</option>
                </select>
                <span class="span-error">
                    <p ng-show="preguntasForm.requerido.$error.required">*Campo obligatorio.</p>
                </span>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 10px;">
        <div class="col-xs-12 col-sm-12 col-md-4" >
            <div class="form-group">
                <label class="letras-formulario color-letra-texto">Tipo Dato</label>
                <select id="tipoDatoId" 
                        ng-model="ctrl.pregunta.tipoDatoId" 
                        name="tipoDato" 
                        class="form-control"
                        required>
                    <option value="">---Seleccione---</option>
                    <option ng-repeat="item in ctrl.tipoDato.dataTipoDato" value="{{item.tipoDatoId}}">{{item.nombre}}</option>
                </select>
                <span class="span-error">
                    <p ng-show="preguntasForm.tipoDato.$error.required">*Campo obligatorio.</p>
                </span>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4" ng-if="ctrl.pregunta.tipoDatoId == 3" >
            <div class="form-group">
                <label class="letras-formulario color-letra-texto">Valor <small>Indique los valores separados por coma (,)</small></label>
                <input class="form-control"
                       ng-model="ctrl.pregunta.valor"
                       name="valor"
                       id="valorId"
                       placeholder="valores"
                       type="text"
                       required
                       />
                <span class="span-error">
                    <!--<p ng-show="crearEncuestaForm.valor.$error.maxlength">Demasiado largo.</p>-->
                    <p ng-show="preguntasForm.valor.$error.required">*Campo obligatorio.</p>
                </span>
            </div>
        </div>
    </div>

    <div class="form-group" style="text-align: left; margin-top: 10px;">
        <button type="submit" ng-click="ctrl.agregarPregunta()" class="btn btn-primary" ng-disabled="preguntasForm.$invalid">Agregar</button>
    </div>

    <div class="row" ng-show="ctrl.encuesta.formulario.preguntas.length > 0">
        <div class="col-xs-12">
            <table class="table">
                <thead class="thead-inverse">
                    <tr>
                        <th class="letras-formulario-bold color-letra-verde">Etiqueta</th>
                        <th class="letras-formulario-bold color-letra-verde">Longitud</th>
                        <th class="letras-formulario-bold color-letra-verde">Requerido</th>
                        <th class="letras-formulario-bold color-letra-verde">Tipo Dato</th>
                        <th class="letras-formulario-bold color-letra-verde">Valor</th>
                        <th class="letras-formulario-bold color-letra-verde">Opciones</th>
                </thead>
                <tbody>
                    <tr ng-repeat="pregunta in ctrl.encuesta.formulario.preguntas">
                        <td class="letras-formulario color-letra-texto">
                            {{pregunta.etiqueta}}
                        </td>
                        <td class="letras-formulario color-letra-texto">
                            {{pregunta.longitud}}
                        </td>
                        <td class="letras-formulario color-letra-texto">
                            {{pregunta.requerido === 'true' ? 'Si' : 'No'}}
                        </td>
                        <td class="letras-formulario color-letra-texto">
                            <div ng-switch on="pregunta.tipoDatoId">
                                <div ng-switch-when="1">
                                    TEXTO LIBRE
                                </div>
                                <div ng-switch-when="2">
                                    NUMERICO
                                </div>
                                <div ng-switch-when="3">
                                    ENUMERADO
                                </div>
                                <div ng-switch-when="4">
                                    FECHA
                                </div>
                            </div>
                        </td>
                        <td class="letras-formulario color-letra-texto">
                            {{pregunta.valor}}
                        </td>
                        <td class="letras-formulario color-letra-texto">
                            <img title="Eliminar" ng-click="ctrl.eliminarPregunta(pregunta)" width="20" height="20" src="data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTkuMC4wLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCA1MTIgNTEyIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA1MTIgNTEyOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgd2lkdGg9IjUxMnB4IiBoZWlnaHQ9IjUxMnB4Ij4KPHBvbHlnb24gc3R5bGU9ImZpbGw6I0UyMUIxQjsiIHBvaW50cz0iNDA0LjE3NiwwIDI1NiwxNDguMTc2IDEwNy44MjQsMCAwLDEwNy44MjQgMTQ4LjE3NiwyNTYgMCw0MDQuMTc2IDEwNy44MjQsNTEyIDI1NiwzNjMuODI0ICAgNDA0LjE3Niw1MTIgNTEyLDQwNC4xNzYgMzYzLjgyNCwyNTYgNTEyLDEwNy44MjQgIi8+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+Cjwvc3ZnPgo=" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>