<form name="encuestaForm" novalidate="novalidate">
    <div class="row">
        <div class="col-xs-12">
            <h4 class="color-letra-verde">{{ctrl.encuesta.dataEncuesta.formulario.nombre}} <small>{{ctrl.encuesta.dataEncuesta.objetivo}}</small> </h4>
        </div>
    </div>
    <div ng-repeat="fila in ctrl.encuesta.numeroFilas" style="margin-top: 10px;">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6" ng-repeat="item in ctrl.encuesta.dataEncuesta.formulario.preguntas.slice((fila === 0 ? fila : (fila * ctrl.encuesta.numeroColumnas)), (fila === 0 ? ctrl.encuesta.numeroColumnas : ((fila * ctrl.encuesta.numeroColumnas) + ctrl.encuesta.numeroColumnas)))">
                <div ng-if="item.tipoDatoId === 1"> <!--Texto-->
                    <div class="form-group">
                        <label class="letras-formulario color-letra-texto">{{item.etiqueta}}</label>
                        <div ng-if="item.requerido === true">
                            <input  class="form-control"
                                    ng-model="item.nuevoValor"
                                    name="{{item.etiquetaVal}}"
                                    id="{{item.preguntaId}}"
                                    placeholder="{{item.etiqueta}}"
                                    ng-maxlength="{{item.longitud}}"
                                    type="text"
                                    required
                                    />
                            <span class="span-error">
                                <p ng-show="encuestaForm.{{item.etiquetaVal}}.$error.maxlength">Demasiado largo.</p>
                                <p ng-show="encuestaForm.{{item.etiquetaVal}}.$error.required">*Campo obligatorio.</p>
                            </span>
                        </div>
                        <input ng-if="item.requerido === false" class="form-control"
                               ng-model="item.nuevoValor"
                               name="{{item.etiquetaVal}}"
                               id="{{item.preguntaId}}"
                               placeholder="{{item.etiqueta}}"
                               ng-maxlength="{{item.longitud}}"
                               type="text"
                               />
                    </div>
                </div>

                <div ng-if="item.tipoDatoId === 2"> <!--Numerico-->
                    <div class="form-group">
                        <label class="letras-formulario color-letra-texto">{{item.etiqueta}}</label>
                        <div ng-if="item.requerido === true">
                            <input class="form-control"
                                   ng-model="item.nuevoValor"
                                   name="{{item.etiquetaVal}}"
                                   id="{{item.preguntaId}}"
                                   placeholder="{{item.etiqueta}}"
                                   ng-maxlength="{{item.longitud}}"
                                   type="number"
                                   required
                                   />
                            <span class="span-error">
                                <p ng-show="encuestaForm.{{item.etiquetaVal}}.$error.maxlength">Demasiado largo.</p>
                                <p ng-show="encuestaForm.{{item.etiquetaVal}}.$error.required">*Campo obligatorio.</p>
                            </span>
                        </div>
                        <input ng-if="item.requerido === false" class="form-control"
                               ng-model="item.nuevoValor"
                               name="{{item.etiquetaVal}}"
                               id="{{item.preguntaId}}"
                               placeholder="{{item.etiqueta}}"
                               ng-maxlength="{{item.longitud}}"
                               type="number"
                               required
                               />
                    </div>
                </div>

                <div ng-if="item.tipoDatoId === 3"> <!--Enumerado-->
                    <div class="form-group">
                        <label class="letras-formulario color-letra-texto">{{item.etiqueta}}</label>
                        <div ng-if="item.requerido === true">
                            <select id="{{item.preguntaId}}" 
                                    ng-model="item.nuevoValor" 
                                    name="{{item.etiquetaVal}}" 
                                    class="form-control"
                                    required>
                                <option value="">---Seleccione---</option>
                                <option ng-repeat="valor in item.valores" value="{{valor}}">{{valor}}</option>
                            </select>
                            <span class="span-error">
                                <p ng-show="encuestaForm.{{item.etiquetaVal}}.$error.required">*Campo obligatorio.</p>
                            </span>
                        </div>
                        <select ng-if="item.requerido === false" id="{{item.preguntaId}}" 
                                ng-model="item.nuevoValor" 
                                name="{{item.etiquetaVal}}" 
                                class="form-control">
                            <option value="">---Seleccione---</option>
                            <option ng-repeat="valor in item.valores" value="{{valor}}">{{valor}}</option>
                        </select>
                    </div>
                </div>

                <div ng-if="item.tipoDatoId === 4"> <!--Fecha-->
                    <div class="form-group">
                        <label class="letras-formulario color-letra-texto">{{item.etiqueta}}</label>
                        <div ng-if="item.requerido === true">
                            <input class="form-control"
                                   ng-model="item.nuevoValor"
                                   name="{{item.etiquetaVal}}"
                                   id="{{item.preguntaId}}"
                                   placeholder="{{item.etiqueta}}"
                                   type="date" required/>
                            <span class="span-error">
                                <p ng-show="encuestaForm.{{item.etiquetaVal}}.$error.required">*Campo obligatorio.</p>
                            </span>
                        </div>
                        <input ng-if="item.requerido === false" class="form-control"
                               ng-model="item.nuevoValor"
                               name="{{item.etiquetaVal}}"
                               id="{{item.preguntaId}}"
                               placeholder="{{item.etiqueta}}"
                               type="date"
                               />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group" style="text-align: right; margin-top: 10px;">
        <button type="submit" ng-click="ctrl.procesar()" class="btn btn-primary" ng-disabled="encuestaForm.$invalid">Procesar</button>
        <a ng-href="#/" class="btn btn-default">Cancelar</a>
    </div>
</form>