<div class="row">
    <div class="col-xs-12">
        <h3 class="color-letra-verde">Resultados <small>Identifique los resultados obtenidos</small> </h3>
    </div>
</div>
<div class="row" style="margin-top: 15px;">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12">
                <h4 class="color-letra-azul">Encuesta: {{ctrl.encuesta.nombre}}</h4>
                <p class="letras-formulario color-letra-texto margin-top">Objetivo: {{ctrl.encuesta.objetivo}}</p>
                <p class="letras-formulario color-letra-texto margin-top">Formulario: {{ctrl.encuesta.formulario.nombre}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p class="color-letra-azul letras-formulario-bold">*PREGUNTAS Y RESPUESTAS</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" ng-repeat="pregunta in ctrl.encuesta.formulario.preguntas">
                <div class="row">
                    <div class="col-xs-12">
                        <p class="color-morado letra-cursiva letras-formulario-bold">ID pregunta: {{pregunta.preguntaId}}</p>
                        <p class="color-morado letra-cursiva letras-formulario-bold">Nombre pregunta: {{pregunta.etiqueta}}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <table class="table">
                            <thead class="thead-inverse">
                                <tr>
                                    <th class="letras-formulario-bold color-letra-verde">#</th>
                                    <th class="letras-formulario-bold color-letra-verde">Respuesta</th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="respuesta in pregunta.respuestas">
                                    <td class="letras-formulario color-letra-texto">
                                        {{respuesta.respuestaId}}
                                    </td>
                                    <td class="letras-formulario color-letra-texto">
                                        {{respuesta.valor}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

