﻿<header class="navbar navbar-static-top">
    <nav class="navbar navbar-default navbar navbar-fixed-top navbar-propiedades" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar1">
                    <span class="sr-only"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a href="#/" class="navbar-brand">PollOnline</a>
            </div>

            <div class="collapse navbar-collapse" id="navbar1">
                <ul class="nav navbar-nav">

                    <li><a href="#">Necesitas Ayuda?</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle curso-pointer" data-toggle="dropdown">Encuestas</a>
                        <ul class="dropdown-menu">
                            <li><a href="#/encuestaCrear">Nueva Encuesta</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Configuración</a></li>
                            <li class="divider"></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle curso-pointer" data-toggle="dropdown">Administración</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Administrar Perfiles</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Administrar Usuarios</a></li>
                            <li class="divider"></li>
                        </ul>
                    </li>

                </ul>

                <!--Menu por usuario-->
                
            </div>
        </div>
    </nav>
</header>
