﻿<div class="container">
    <div class="row">
        <section class="page-header container-fluid">
            <h1 class="color-morado">Encuestas Web</h1>
            <h6 class="color-letra-texto">Crear encuestas online es sencillo, crea encuestas desde sencillas hasta profesionales</h6>
        </section>
    </div>
</div>